/* CSS Document */
body{color:#666666; font-size:12px; line-height:1.5em; background:#e3e3e3 url(../images2/body_bg.gif) top center no-repeat; margin:0; padding:0;}

#demo_top{ background:url(../images2/top.jpg) top repeat-x; height:11px; width:100%px; clear:both; overflow:hidden;}
#demo_home{ background:url(../images2/home_btn.jpg) center top no-repeat; position:relative;margin-top:-7px;  width:90px; height:33px; float:right; text-align:center;}
#demo_home a{ color:#FFF; width:80px; height:28px; display:block; line-height:28px; background:url(../images2/home.gif) 2px 6px no-repeat; margin:0 auto; }
#demo_home a:hover{ color:#0c9dc1; width:80px; height:28px; display:block; line-height:28px; background: url(../images2/home_bg.gif) 0px 3px no-repeat; margin:0 auto; }
#demo_head{width:780px; height:33px; margin:0 auto;}
.h210px{ height:210px; clear:both; line-height:220px; overflow:hidden;}
#demo_con{width:495px; height:220px; margin:0 auto;}
.demo_con_l{width:195px; height:170px; float:left; background:url(../images2/xian.gif) right no-repeat;}
.logo{width:195px;text-align:left; height:34px;}
.demo_con_r{width:270px; height:170px; float:right;}

.demo_user{width:270px; height:33px;line-height:33px; font-size:14px;}

input{ vertical-align:middle;}
.demo_user .bd{ line-height:33px;font-size:14px; color:#999; width:170px; height:33px; float:left; background:url(../images2/input_bg.gif) repeat-x; border:none;}
.input_l{width:7px; background:url(../images2/select.gif) left no-repeat; height:33px; float:left;}
.input_r{width:7px; background:url(../images2/select.gif) right no-repeat; height:33px; float:left;}
.demo_bd{width:188px; height:33px; float:right;}
.input_font{ float:left;width:85px; text-align:right;}
.Submit{width:185px;  height:27px; float:right; }
.tis{width:178px; height:33px; float:right; font-size:12px; line-height:16px; color:#ff7e00;}



.btn02 { width:64px; height:27px; border:none;   background:url(../images2/login.jpg) top center no-repeat; cursor:pointer;}
.btn04 { width:64px; height:27px; border:none;  background:url(../images2/login1.jpg) top center no-repeat; cursor:pointer;}



#demo_bq{ background:url(../images2/bq.gif) no-repeat; width:540px; height:24px; margin:0 auto; text-align:center; line-height:24px;}

