/* CSS Document */
@import url("common.css");

.w_login{ width:800px;  margin:0px auto 0px;  top:0px; position:relative;background:#fff; filter:Alpha(opacity=0); -moz-opacity:.0; opacity:0.0; padding-top:0px; color:#000; font-size:14px; padding-bottom:10px;}
.w_login .c{ width:542px; margin:15px auto;}
.w_login .c a:hover{ text-decoration:underline;}
.w_login h2{ height:58px; line-height:58px; font-weight:bold; color:#FFF; font-size:20px; margin:0px auto 0px; text-align:center; background:#666666;}
.w_login .c .txt{ width:290px; height:40px; background:#ffffff; line-height:50px; padding:5px 0px 5px 50px; border:#b37800 1px solid;}
.w_login .c .txt:focus{box-shadow:1px 1px 5px #7d5401;}
.w_login .c .but{ background:#00c5d1; width:100%; height:#52px; line-height:52px; text-align:center; font-weight:bold; font-size:18px; cursor:pointer; color:#FFF; border:none;}
.w_login .c .but:hover{ background:#0095a2; transition: 1s all ease;-webkit-transition: 1s all ease;-moz-transition: 1s all ease;-o-transition: 1s all ease;-ms-transition:1s all ease;}
.w_login .c td{ padding:8px 4px; max-width:360px;}
.w_login .c .red{ vertical-align:middle; padding-right:8px;}
.w_login .c h3{ background:#00386c; width:200px; color:#FFF;height:40px; text-align:center; line-height:40px; margin:10px auto;}
.w_login .c .k{ float:left; display:block; margin-right:10px;}