<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>武汉市长江公证处</webname>
  <weburl>http://www.baidu.com</weburl>
  <weblogo />
  <webcompany>武汉市长江公证处</webcompany>
  <webaddress>解放大道硚口路交汇处武汉城市广场16楼 邮政编码：430030</webaddress>
  <webtel>400-8826868</webtel>
  <webfax>027-83781635</webfax>
  <webmail>notary-1@163.com</webmail>
  <webcrod>鄂ICP备12001660号-1</webcrod>
  <webtitle>武汉市长江公证处</webtitle>
  <webkeyword>武汉市长江公证处</webkeyword>
  <webdescription>武汉市长江公证处</webdescription>
  <webcopyright>Copyright By Wuhan Qiaoxin Notary Public Office, All Right Reserved     武汉市长江公证处®版权所有</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://www.cl10086.com/garden/interface/sendSMS.action</smsapiurl>
  <smsusername>cjgzc369</smsusername>
  <smspassword>123456</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>info@it134.cn</emailfrom>
  <emailusername>info@it134.cn</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>动力启航</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,docx,pdf</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>0</imgmaxheight>
  <imgmaxwidth>0</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>动力启航</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>DTcms</sysencryptstring>
</siteconfig>